<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Projects</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<link rel="stylesheet" type="text/css" href="./css/datepickertheme/jquery.ui.all.css"/>
		<link rel="stylesheet" type="text/css" href="./css/main.css"/>
		<script language="javascript" type="text/javascript" src="./js/jquery-1.6.2.js"></script>
		<script language="javascript" type="text/javascript" src="./js/jquery.ui.core.js"></script>
		<script language="javascript" type="text/javascript" src="./js/jquery.ui.widget.js"></script>
		<script language="javascript" type="text/javascript" src="./js/jquery.ui.datepicker.js"></script>
		<script language="javascript" type="text/javascript" src="./js/jquery.ui.datepicker-sv.js"></script>
	</head>
<body>

<img src="./images/yond.png" />
<p class="log-link" style=" float:right; margin-top:-4px;"><a href="{{url}}"><b>Sign out</b></a><p>
</br>
<form action="/newproj" id="newProj" method="post">
<fieldset style="width:600px;">
<legend id="legend-proj" >Create a new Project</legend>
<p><label for="name">Name :</label> <input type="text" name="projName" id="projName" /></p>
<p><label for="e-mail">Type :</label> <input type="text" name="projType" id="projType" /><br /></p>
<p><label for="description">Description :</label> <textarea rows="4" cols="25" name="projDescription" id="projDescription"></textarea></p>
<p>
	<label for="startdate">Start Date :</label>
	<input type="text" name="projStartD" id="projStartD" />
</p>
<p>
	<label for="enddate">End Date :</label>
	<input type="text" name="projEndD" id="projEndD" />
</p>
<p><label for="pmid">PM id :</label> <input type="text" name="projPmId" id="projPmId" /></p>
<p class="submit">
	<input type="submit" value="Create" />
	<input type="button" value="Cancel" onClick="location.href='/'"/>
</p>
</fieldset>
</form>
<script>
	$(function() {
		$( "#projEndD" ).datepicker({
			showOn: "button",
			buttonImage: "images/cal.png",
			buttonImageOnly: true
		});
	});
	$(function() {
		$( "#projStartD" ).datepicker({
			showOn: "button",
			buttonImage: "images/cal.png",
			buttonImageOnly: true
		});
	});
</script>
</body>
</html>