<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Projects</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<link rel="stylesheet" type="text/css" href="./css/main.css"/>
		<script language="javascript" type="text/javascript" src="./js/datetimepicker.js"></script>
		
	</head>
<body>
<img src="./images/yond.png" />
<p class="log-link" style=" float:right; margin-top:-4px;"><a href="{{url}}"><b>Sign out</b></a><p>
</br>
</p>
<p> Hello {{user.email()}} , you don't have a profile in our company yet or you don't have enough rights to open that page'!</p>
<p>Contact the HR department for further details about your account and about your rights </p>
</body>
</html>